#colorpick{
  display: flex;
  flex-flow: row;

  .red{
    background: @red;
    color: white;
  }
  .white{
    background: @white;
  }
  .rose{
    background: @rose;
  }

  .selected {
    border-color: grey;
  }

  .red, .white, .rose {
    width: 31%;
    max-width: 13em;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    padding: .9em 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;

    &.selected{
      border-color: grey;
    }
  }

  &:not(.edit){

    .red, .white, .rose{
      cursor: default;
    }

    .selected{
      border-color: transparent;
    }
    :not(.selected){
      color: transparent;
      background: transparent;

    }
  }
}

@media (max-width: 700px){
  #colorpick{
    justify-content: space-between;
  }
}
