#cepages-editor{
  width: 100%;
  margin-top: .3em;

  .ctnr{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: #e0e0e0;
    width: 100%;
    padding: 5px 5px 20px 5px;
    font-size: .9em;
    outline: none;
    border-radius: 3px;
  }

  .cpg {
    padding: 5px 8px;
    margin: 3px 8px 5px 0;
    line-height: 19px;
    border-radius: 4px;
    background: @main-color;
    color: white;
    -webkit-user-select: none;
    user-select: none;

    .icon-cancel {
      display: none;
    }

    &.deletable .icon-cancel{
      font-size: 1em;
      display: inline-block;
      margin-left: .8em;
      cursor: pointer;
    }
  }

  .lenref(){
    border: none;
    line-height: 19px;
    padding: 5px 8px;
    font-family: Arial;
    font-size: 1em;
  }

  #editor{
    .lenref();
    width: 4em;
    margin-top: 3px;
    border-radius: 6px;
    outline-color: @main-color;
    background: @main-color;
    color: white;
  }

  #lenref{
    .lenref();
    color: transparent;
    background: transparent;
    margin: 0;
    position: absolute;
  }

  .ac{
    position: absolute;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #d4d4d4;
    padding: 5px;
    background: white;

    .cpg{
      background: #d4d4d4;
      color: @text-color;
      cursor: pointer;
    }
  }
}
